<header class="jumbotron" id="overview">
  <div class="container">
    <div class="col-sm-7">
      <h1>Angular Tutorial</h1>
    </div>
    <!-- 
    TODO: fix twitter share
    <div class="bs-docs-social">
      <div class="container">
        <ul class="bs-docs-social-buttons">
          <li>
            <button href="https://twitter.com/share" class="twitter-share-button" data-show-count="false" data-hashtags="pachonjcl">
              Tweet
            </button>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
</header>
<div class="container">
  <section id="tutoriales">
    <p class="text-muted">
      <input class="form-control" autofocus="autofocus" style="max-width: 10em; display: inline-block;" ng-model="textoBuscador" placeholder="Buscar...">
      {{($ctrl.tutoriales| filter:textoBuscador).length}} tutoriales
    </p>
    <div class="list-group">
      <div ng-repeat="tutorial in $ctrl.tutoriales | filter:textoBuscador" class="list-group-item">
        <p class="pull-right">
          <a ui-sref="{{tutorial.home}}" title="Pagina del Tutorial" ng-if="tutorial.home">
            <i class="fa fa-3x fa-home"></i>
          </a>
        </p>
        <h4 class="list-group-item-heading">
          {{tutorial.titulo}}
        </h4>
        <p class="list-group-item-text text-muted">
          {{tutorial.descripcion}}
        </p>
      </div>
    </div>
  </section>
</div>